<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWUniUp"
        tools:targetApi="31">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyChallenge" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.MY_CHALLENGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.SIGN_UP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".KakaoSigninActivity" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.KAKAO_SIGNIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChallengeFinish" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.CHALLENGE_FINISH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChallengeJoin" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.CHALLENGE_JOIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChallengeCreateDate" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.CHALLENGE_CREATE_DATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChallengeCreate" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.CHALLENGE_CREATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AddLog" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.ADD_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChallengeInfo" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.CHALLENGE_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChallengeInfoFeed" android:exported="false">
            <intent-filter>
                <action android:name="com.yourapp.CHALLENGE_INFO_FEED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
